img.header-img {
    width: 100%;
    height: 900px;
    clip-path: polygon(0 0, 0 100px, 100px 80px, 100px 0);
    margin-top: 50px;
    margin-left: 50px;
}

.landing.header .overlay {
    opacity: .6
}

.landing.header #img1,
.landing.header #img2,
.landing.header #img3,
.landing.header #img4 {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.landing.header #img1 {
    background-image: url('../../../images/landingHeader/asphalt.jpeg');
    position: relative;
    clip-path: inset(0px 75% 0px 0px);
}

.landing.header #img2 {
    background-image: url('../../../images/government/govtseattle.jpg');
    position: absolute;
    clip-path: inset(0px 50% 0px 25%);
}

.landing.header #img3 {
    background-image: url('../../../images/landingHeader/hoa.jpg');
    position: absolute;
    clip-path: inset(0px 25% 0px 50%);
}

.landing.header #img4 {
    background-image: url('../../../images/residential/upgrade.jpg');
    position: absolute;
    clip-path: inset(0px 0px 0px 75%);
}

.landing.header #img1:hover,
.landing.header #img2:hover,
.landing.header #img3:hover,
.landing.header #img4:hover {
    clip-path: inset(0px);
    z-index: 2;
    transition: .75s;
    transition-delay: .2s;
}

#text-1,
#text-2,
#text-3,
#text-4 {
    position:relative;
    z-index: 5;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: rgba(0,0,0,.55);
}

#text-2 {
    left: 25%;
}

#text-3 {
    left: 50%;
}

#text-4 {
    left: 75%;
}

#text-1 h2,
#text-2 h2,
#text-3 h2,
#text-4 h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Raleway';
    letter-spacing: .05em;
    font-weight: 400 !important;
}

.landing.header #img1:hover + #text-1 {
    color: blue !important;
}

#text-1:hover,
#text-2:hover,
#text-3:hover,
#text-4:hover {
    width: 100%;
    transition: .75s;
    transition-delay: .2s;
}

#text-2:hover,
#text-3:hover,
#text-4:hover {
    left: 0;
}