.quality {
    margin-top: 40px;
    width: 95%;
}

.quality img {
    width: 100%;
}

.quality hr {
    margin-top: 8px;
    margin-right: 20px;
}

@media only screen and (min-width: 992px) {
    .quality {
        margin-top: 70px;
    }
}