.quality {
    margin-top: 40px;
    width: 95%;
}

.quality img {
    width: 100%;
}

.quality hr {
    margin-top: 8px;
    margin-right: 20px;
}

.quality span {
    display: inline-block;
    margin-bottom: 1rem;
}

.quality span .inline {
    letter-spacing: .05em;
    font-size: 1.1em;
    margin-right: 15px;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
}

.quality p:not(.section-p) {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
    font-size: 1.1em;
    margin-top: 25px;
}

@media only screen and (min-width: 992px) {
    .quality {
        margin-top: 70px;
    }
}