.landing-body {
    position: absolute;
    top: 600px;
    background-color: white;
    width: 100%;
}
.landing-body .wrapper {
    width: 100%;
    max-width: 1400px;
    background-color: white;
    margin: 0 auto;
}

.landing-body .mission .wrapper {
    background-color: transparent;
}

.landing-body .container-fluid:not(.who-is-tb) {
    width: 95%;
}

.landing-body .container-fluid.mbridge {
    width: 95%;
}

.landing-body .professional-wrapper {
    margin-top: 100px;
}

/* HEADER CSS */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
    z-index: -3;
    height: auto;
    height: 100vh;
}

.landing-header::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    animation: headerText 100s linear infinite;
    animation-timing-function: ease-in-out;
    content: 'LUXURY EXTERIOR DESIGN';
}

.landing-header {
    position: relative;
}

#header_slide {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 100s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url('../../images/landingHeader/fire-min.jpeg');
}

#header_slide,
.header,
#header-overlay {
    height: clamp(300px, 600px, 900px);
    @supports not (height: clamp(300px, 600px, 900px)) {
        height: min(max(300px, 600px), 900px)
    }
}

.entry {
    /* margin: 0 auto; */
    padding-bottom: 10px;
}

.stats {
    margin-top: 40px;
    margin-bottom: 30px;
}

/* .stats .col-lg-6:first-of-type {
    padding-right: 40px;
} */

.stats h6 {
    font-size: clamp(25px, 2vw, 2vw);
    letter-spacing: 1px;
    font-family:'Montserrat', sans-serif;
    color: #0b56a0;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 3px;
}

.stats small {
    font-family:'Raleway', sans-serif;
    font-size: 16px;
}
/* 
.stats .image-wrapper {
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
} */

.stats img {
    width: 100%;
    margin-bottom: 20px;
}
.stats .overlay {
    background-color: rgba(0,0,0,.5);
}

.community-stats {
    width: 80%;
}

.community-stats::after {
    font-size: 4.6vw;
    animation: textslide 40s infinite linear 0s;
    content: '20250 diapers, 320 baby wipe packages, 105 cans of baby food provided to at risk women and children';
    animation-timing-function: ease-in-out;
    z-index: 12;
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
}

.mbridge {
    margin-top: 50px;
    padding: 0px;
}

.mbridge img:not(.expand) {
    width: 100%;
}

.mbridge a.mbridge-cta {
    padding: 2px 23px;
    text-decoration: none;
    font-size: .8em;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    letter-spacing: .0705em;
    display: inline-block;
    margin-bottom: 30px;
}

.mbridge a.mbridge-cta:hover {
    background-color: black;
    color: white;
    transition: .5s;
}

.mbridge h6 {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 1.15rem;
    color: rgb(59, 59, 59);
    letter-spacing: .05em;
}

.mbridge p:first-of-type {
    font-size: .85em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mbridge button {
    background-color: transparent;
    border: 0px;
    margin: 0 auto;
    color:rgb(71, 71, 71);
}

.mbridge button.sm-screen-btn {
    padding-left: 0px;
}

.mbridge img.expand {
    width: 20px;
}

.mbridge .title {
    margin: 0 auto;
    margin-bottom: 20px;
}

.mbridge .section-header {
    font-size: clamp(25px, 3.5vw, 35px);
}

.mission {
    background-color: #0b56a4;
    color: white;
    margin-top: 30px;
    padding: 40px 0px 40px 0px;
}

.mission img {
    width: 100%;
}

.mission .row {
    width: 95%;
    margin: 0 auto;
}

.mission h1 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2.5px;
    font-size: 6vw;
    /* margin-bottom: 25px; */
    /* padding-left: 15px; */
}

.mission p {
    font-family: "Roboto";
    line-height: 1.8em;
    letter-spacing: .055em;
    margin-top: 20px;
}


@keyframes textslide {
    0% {
        content: '20250 diapers, 320 baby wipe packages, 105 cans of baby food provided to at risk women and children'
    }
    20% {
        content: '510 items of clothing & shoes donated to at risk women and children'
    }
    40% {
        content: '1000 lbs of food and supplies provided to members of Crow Nation'
    }
    50% {
        content: 'A safe place to live and school tuition for 17 girls in domestic servitude in Uganda'
    }
    60% {
        content: 'Clean water access to the village of Bukumula, Uganda'
    }
    70% {
        content: '94 free pregnancy tests and 56 free ultrasounds performed'
    }
    80% {
        content: '4000 children and youth sent to Solid Rock Summer Camps'
    }
    100% {
        content: '50 fruit trees planted in Bukumula and Mbale, Uganda'
    }
}

@media only screen and (max-width: 990px) {
    .mbridge button:not(.sm-screen-btn) {
        margin-bottom: 40px;
    }
}

/* HEADER ANIMATIONS CSS */

@keyframes slideBg {
    0% {
        background-image: url('../../images/landingHeader/fire-min.jpeg');
        /* background-size: 480px 300px; */
    }
    12% {
        background-image: url('../../images/landingHeader/evHeader-min.jpeg');
    }
    25% {
        background-image: url('../../images/landingHeader/patio.jpg');
    }
    37% {
        background-image: url('../../images/landingHeader/asphalt.jpeg');
    }
    50% {
        background-image: url('../../images/landingHeader/couple-pool-min.jpeg');
    } 
    62% {
        background-image: url('../../images/landingHeader/hoa.jpg');
    }
    75% {
        background-image: url('../../images/landingHeader/familyfirepit-min.jpg');
    }
    88% {
        background-image: url('../../images/landingHeader/snow-min.jpg');
    }
}

@keyframes headerText {
    0% {
        content: 'LUXURY EXTERIOR DESIGN'
    }
    12% {
        content: 'A GREENER WORLD'
    }
    25% {
        content: 'LUXURY EXTERIOR DESIGN'
    }
    37% {
        content: 'QUALITY ASPHALT INSTALLATION'
    }
    50% {
        content: 'LUXURY EXTERIOR DESIGN'
    }
    62% {
        content: 'BEAUTIFUL COMMUNITY LIVING'
    }
    75% {
        content: 'LUXURY EXTERIOR DESIGN'

    }
    88% {
        content: 'RELIABLE SNOW REMOVAL'
    }
}

@media only screen and (min-width: 520px) {
    .entry {
        padding: 0px 15%;
    }
    .community-stats {
        width: 50%;
    }
}

@media only screen and (min-width:576px) {
    .mission h1 {
        font-size: 4.8vw;
        margin-top: 15px;
    }

    .mission img {
        width: 130px;
    }
    .mission p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 766px) {
    .mbridge button.sm-screen-btn {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .mbridge .title {
        width: 90%;
        text-align: center;
    }
    .mission img {
        width: 100%;
    }
    .mission h1 {
        font-size: 4vw;
    }
    .new-reviews blockquote {
        font-size: 1.1em;
    }
}

/* @media only screen and (min-width: 975px) {
    .mbridge .col-sm-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
} */

@media only screen and (min-width: 992px) {
    .entry {
        padding: 0px 20px;
    }
    .community-stats:after {
        font-size: 1.35em;
    }
    .mbridge {
        margin-top: 30px;
    }
    .mbridge .title {
        width: 60%;
        margin-bottom: 40px;
    }
    .stats {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .stats .image-wrapper {
        margin-top: 0px;
    }
    .mission {
        margin-top: 80px;
    }
}

@media only screen and (min-width: 1200px) {
    .new-reviews blockquote {
        font-size: 1.2em;
    }
    .mbridge {
        margin-top: 50px;
    }
    .mission h1 {
        font-size: 50px;
    }
}