.dees-container {
    margin: 0 auto;
    width: 95%;
}

.dees-container .section-subheader {
    margin-bottom: 0px;
}

.dees-container img {
    width: 100%;
}

.dees-container a {
    text-decoration: none;
}

.dees-container .section-p:last-of-type {
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 992px) {
    .dees-container .text {
        margin-bottom: 40px;
    }
}