.dees-image-container button {
    border: 0px;
    border-radius: 0px;
    background-color: transparent;
    margin-bottom: 15px;
}

.dees-image-container .modal-body img {
    width: 100%;
    padding-left: 0px;
}

.dees-image-container .modal-title {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
}