

.hover-image-container button {
    border: 0px;
    border-radius: 0px;
    background-color: transparent;
    margin-bottom: 32px;
}

.hover-image-container .modal-body img {
    width: 100%;
    padding-left: 0px;
}

.hover-image-container .modal-title {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
}

@media only screen and (min-width: 978px) {
    .dees-container .hover-image-container {
        padding-left: 4rem;
    }
}