/* legend {
    background-color: transparent;
    width: 80%;
    margin: 0 auto;
    font-size: 2.5vw;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    letter-spacing: .05em;
}

fieldset {
    border: 1px solid rgb(0, 0, 126);
    text-align: center;
    width: 80%;
    padding: 20px 30px 20px 30px;
    margin: 0 auto;
}

fieldset p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6em;
    letter-spacing: 2.5px;
    font-size: 1em;
} */

.franchise-phone a,
.franchise-email a {
    background-color: #0b56a4;
    color: white;
    padding: 7px 15px 7px 15px;
    display: inline-block;
    font-size: .9em;
    letter-spacing: .0705em;
    font-family: 'Roboto';
}

.franchise-wrapper .about-container {
    width: 93%;
}

.franchise-email a {
    margin-bottom: 10px;
}

.franchise-wrapper .about-container .contact {
    margin: 0px 0px 15px 0px;
}

.franchise-wrapper .about-container .contact a {
    color: white;
    text-decoration: none !important;
}

.about-container h1 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.6px;
    font-size: 2.1em;
    margin-bottom: 5px;
    line-height: 1.3em;
    font-size: clamp(30px, 4vw, 30px)
}

@media only screen and (min-width: 543px) {
    .franchise-phone {
        margin-left: 20px;
    }
}