.government-body {
    margin-top: 30px;
}

.government-body .container-fluid:not(.capabilities-wrapper) {
    width: 93%;
}

.capabilities-wrapper {
    width: 91%;;
}

.government-header img,
.government-about img,
.asphalt img {
    width: 100%;
}

.government-about img {
    margin-top: 25px;
}

.govt-slider .slick-next::before,
.govt-slider .slick-prev::before {
    color: black;
}

.government-body .slider {
    margin: 0 auto;
    margin-top: 80px;
}

.slider img,
.slider p {
    width: 95%;
}

.government-body .asphalt {
    margin-top: 80px;
}

.government-about .section-p:last-of-type {
    margin-bottom: 1.5rem;
}

.government-body .asphalt p:first-of-type,
.government-body .slider p:first-of-type {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: rgb(59, 59, 59);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .06em;
    margin-top: 1.2rem;
    margin-bottom: .7rem;
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
    .green-solns {
        margin-top: 60px;
    }
    .government-body {
        margin-top: 80px;
    }
    .government-about img {
        margin-top: 0px;
    }
}