.government-body {
    margin-top: 80px;
}

.government-body .container-fluid:not(.capabilities-wrapper) {
    width: 93%;
}

.capabilities-wrapper {
    width: 91%;;
}

.government-header img,
.government-about img,
.asphalt img {
    width: 100%;
}

.govt-slider .slick-next::before,
.govt-slider .slick-prev::before {
    color: black;
}

.government-body .slider {
    margin: 0 auto;
    margin-top: 80px;
}

.slider img,
.slider p {
    width: 95%;
}

.government-body .asphalt {
    margin-top: 80px;
}

.government-body .asphalt p:first-of-type,
.government-body .slider p:first-of-type {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: rgb(59, 59, 59);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .06em;
    margin-top: 1.2rem;
    margin-bottom: .7rem;
}

@media only screen and (min-width: 990px) {
    .government-about p,
    .government-about h4 {
        padding-left: 1rem;
    }

    .green-solns {
        margin-top: 60px;
    }
}