.case-study {
    width: 100%;
    /* background-color: #0b56a4; */
    color: white;
    margin-bottom: 80px;
    background-image: url('../../images/commercial/banner2.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
}

.case-study-content {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 70px 0%;
}

.case-study h3 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .065em;
}

.case-study button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    font-family: 'Raleway';
    border-radius: 0px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .076rem;
    padding: 5px 20px;
}

.case-study p {
    width: 90%;
    max-width: 450px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.case-study button:hover {
    opacity: .8;
    background-color: transparent;
    border: 1px solid white;
}