.about-wrapper {
    width: 93%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 0% 60px 0%;
    /* background-color: rgb(43, 43, 43);
    color: white; */
}

.about-wrapper.wrapper {
    padding: 30px;
}

.about-wrapper.services {
    padding: 0;
}

.about-wrapper h1 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.3em;
    letter-spacing: 2.3px;
    margin-bottom: 15px;
    font-size: 22px;
}

.about-wrapper a:not(a.case-studies) {
    display: inline-block;
    margin-bottom: 15px;
}

.about-wrapper a:hover:not(a.case-studies) {
    background-color: white;
    color: #0b56a4 !important;
    border: 2px solid #0b56a4;
    transition: .5s;
}

.brands-wrapper {
    background-color: rgb(48, 48, 48);
    color: white;
    position: relative;
}

.brands-wrapper h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: .06em;
    padding-bottom: 10px;
    line-height: 2.5rem;
}

.brands-wrapper .brand-img {
    padding-top: 1.4rem;
    padding-bottom: 2rem;
}

.brands-wrapper p {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: rgb(151, 151, 151);
    text-align: left;
    position: absolute;
    bottom: 0px;
}

.brands-wrapper img:not(.w-40) {
    width: 100%;
}

.w-40 {
    width: 60%;
}

.brands-wrapper hr {
    background-color: #007bff;
    margin-bottom: 0px;
}

button {
    background-color: transparent;
    border: 0px;
}

a.case-studies {
    color: white;
    padding: 10px 20px 10px 0px;
    font-family: 'Raleway';
    text-decoration: none !important;
    display: inline-block;

}

a.case-studies:hover {
    opacity: .8;
}

.card {
    box-shadow: 0px 1px 15px 8px rgba(0,0,0,0.05);
}

.service-card h5 {
    font-family: 'Raleway';
    color: #0b56a4;
}

.services h5 {
    color:rgb(77, 77, 77)
}

.services h3.section-header {
    text-align: center;
}

.services h5 {
    font-family: 'Raleway';
    letter-spacing: .03em;
}

.services img {
    width: 100%;
    margin-bottom: 1.5rem;
}

.deliverables {
    /* background: linear-gradient(116.43deg,#070e14 -.01%, #0b56a4 103.46%);
    mix-blend-mode: normal; */
    background-color: #0b56a4;
    color: white;
}

.card-body h4.section-header {
    color: white;
}

@media only screen and (min-width: 576px) {
    .brands-wrapper img:not(.w-40) {
        width: 80%;
    }
    
    .w-40 {
        width: 40%;
    }
}

@media only screen and (min-width: 768px) {
    .brands-wrapper img:not(.w-40) {
        width: 70%;
    }

    .w-40 {
        width: 40%;
    }
}

@media only screen and (min-width: 992px) {
    .brand-img {
        padding-top: 1.4rem;
    }
}


.quality-wrapper {
    background-image: url('./building.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 600px;
    position: relative;
}

.quality-wrapper h4 {
    margin-bottom: 25px;
    font-family: 'Raleway';
    letter-spacing: .045em;
    color: #0b56a4;
}

.quality-wrapper .text {
    width: 80%;
    text-align:center;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px 30px 40px 30px;
}

/* .quality-wrapper .text hr {
    background-color: #0b56a4;
} */


@media only screen and (min-width: 768px) {
    .quality-wrapper .text {
        padding: 40px 50px;
    }
}

@media only screen and (min-width: 992px) {
    .quality-wrapper .text {
        padding: 40px 80px;
    }
}