.commercial-about {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 100px;
    width: 95%;
}


/* MARRIOTT CSS */
.marriott-wrapper {
    margin-bottom: 80px;
    width: 93%;
}
.marriott-wrapper img {
    width: 100%;
    margin-bottom: 0px;
}

/* HOSPITALITY CSS */
.hospitality-wrapper {
    width: 93%;
    margin-bottom: 80px;
}

.hospitality-wrapper .hospitality-header {
    margin-top: 5px !important;
    margin-bottom: 5px;
}

.hospitality-wrapper h6 {
    font-family: 'Raleway', sans-serif;
    color:rgb(92, 92, 92);
    margin-bottom: 0px;
    letter-spacing: .0705em;
}

.hospitality-wrapper 
.hospitality-subheader,
.green-solns p:first-of-type {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: rgb(59, 59, 59);
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .06em;
    margin-top: 1.2rem;
}

.hospitality-subheader {
    margin-bottom: 0px;
}

.hospitality-wrapper img:not(.check-icon) {
    width: 100%;
    margin-bottom: 15px;
}

.hospitality-wrapper .check-icon {
    width: 25px;
}

.commercial-about img,
.service-card img,
.first-impression img,
.commercial-header img,
.nextstep img,
.simple-process img,
.refresh img,
.asphalt-wrapper img,
.green-solns img,
.impression-wrapper img:not(.next-section) {
    width: 100%;
}

/* NEXT STEP CSS */
.nextstep {
    width: 95%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nextstep .section-subheader {
    line-height: 1.5rem;
    margin: 0 0 8px 0;
}

.govt-slider .slick-next::before,
.govt-slider .slick-prev::before {
    color: black;
}

.slider {
    margin: 0 auto;
    margin-top: 80px;
}

.slider img,
.slider p {
    width: 95%;
}

.slider {
    margin: 0 auto;
    margin-top: 80px;
    width: 93%;
}

/* SCHEDULE CSS */
.schedule {
    background-color: #eeeeee;
    /* background-color: rgb(255, 136, 0); */
    color: black;
    padding: 50px;
    margin-top: 100px;
}

.schedule h1 {
    font-family: 'Raleway', sans-serif;
    /* font-weight: 400; */
    letter-spacing: 1.5px;
    margin-bottom: 15px;
    font-size: 2.5vw;
    font-size: 20px;
    font-size: clamp(20px, 2.5vw, 30px);
}

.schedule a {
    background-color: #0b56a4;
    border: 2px solid #0b56a4;
    color: white;
    text-decoration: none;
}

.schedule a:hover {
    background-color: #eeeeee;
    border: 2px solid #0b56a4;
    color: #0b56a4;
}

/* BENEFITS CSS */
.commercial-benefits {
    width: 93%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.commercial-benefits img {
    width: 90%;
}

.commercial-benefits .section-header {
    margin-bottom: 5px;
}

/* SIMPLE PROCESS CSS */
.simple-process .container-fluid {
    margin: 0 auto;
    width: 93%;
    /* margin: 0px; */
}

.simple-process .overlay {
    display: none;
}

.simple-process h1,
.simple-process h3,
.simple-process h6{
    font-weight:normal;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}
.simple-process h1 {
    font-weight: 450;
    color:#ed6a22;
    margin-top: 25px;
    font-size: 3.2vw;
    font-size: 1.8em;
    font-size: clamp(1.9em, 3.3vw, 3.2vw)
}

.simple-process h3 {
    /* color:rgb(0, 90, 194); */
    color: rgb(105, 105, 105);
    font-size: clamp(1.2em, 2.2vw, 2.9vw)
}

.simple-process h6 {
    margin-top: 25px;
}

.simple-process li {
    font-family: 'Montserrat'
}

.refresh h3 {
    font-family: 'Raleway', sans-serif;
    color:  #0b56a4;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0px;
}

.refresh hr {
    margin-top: 10px !important;
}

.refresh h6 {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    /* font-size: 1.15rem; */
    color: rgb(59, 59, 59);
    letter-spacing: .05em;
}

.refresh {
    margin: 0 auto;
    margin-bottom: 80px;
    padding-top: 80px;
    width: 93%;
    font-family: 'Roboto';
}

.impression-wrapper {
    position: relative;
}

/* .impression-wrapper img:not(.next-section) {
    width: 100%;
} */

.impression-wrapper .overlay {
    background-color: rgba(0,0,0,.4);
}

.impression-wrapper .text {
    position: absolute;
    top: 30%;
    left: 0px;
    color: white;
    z-index: 35;
}

.impression-wrapper .text h3 {
    letter-spacing: 3.8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: clamp(19px, 3.5vw, 28px)
}

.impression-wrapper p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.impression-wrapper .next-section {
    width: 40px;
    height: 30px;
}

@media only screen and (min-width: 460px) {
    .impression-wrapper .text {
        top: 60%;
    }
}

@media only screen and (min-width: 576px) {
    .impression-wrapper .text {
        top: 55%;
    }
}

@media only screen and (min-width: 768px) {
    .impression-wrapper .text {
        top: 60%;
        left: 40px;
    }
    .impression-wrapper .next-section {
        width: 75px;
        height: 60px;
    }
    .impression-wrapper p {
        font-size: 1em;
    }
    .simple-process {
        position: relative;
    }
    .simple-process .container-fluid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 40;
        color: white;
        padding-left: 3rem;
        width: 720px;
    }
    .simple-process .overlay {
        display: block;
    }
    .simple-process h1 {
        margin-top: 0px;
    }
    .simple-process h3 {
        color: rgb(211, 211, 211);
    }
    .simple-process h6 {
        margin: 3rem 0 1rem 0;
    }
    .hospitality-wrapper .hospitality-subheader {
        margin-bottom: .5rem;
        font-size: 18px;
    }
}

@media only screen and (min-width: 992px) {
    .impression-wrapper .text {
        padding-left: 2rem;
        top: 68%;
    }
    .commercial-about {
        margin-top: 100px;
    }
    .simple-process .container-fluid {
        width: 960px;
    }
    .marriott-wrapper img {
        margin-bottom: 0px;
    }
    .hospitality-wrapper .hospitality-text {
        margin-top: 1rem;
        padding-right: 3rem;
    }
    .nextstep {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .schedule h1 {
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: 1200px) {
    .simple-process .container-fluid {
        width: 1140px;
    }
    .impression-wrapper p {
        font-size: 1.2em;
    }

    .refresh hr {
        margin-bottom: 30px !important;
    }
    .refresh h6 {
        font-size: 1.15rem;
    }
    /* .marriott-wrapper h4.section-header {
        margin-top: 0px !important;
    } */
}