.commercial-about {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 100px;
    width: 95%;
}


/* MARRIOTT CSS */
.marriott-wrapper {
    margin-bottom: 80px;
    width: 93%;
}
.marriott-wrapper img {
    width: 100%;
    margin-bottom: 30px;
}

/* HOSPITALITY CSS */
.hospitality-wrapper {
    width: 93%;
    margin-bottom: 60px;
}

.hospitality-wrapper 
.hospitality-subheader {
  font-family: 'Raleway', sans-serif;
  padding: 7px 0px 5px 0px;
  letter-spacing: .07em;
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 0px;
}

.hospitality-wrapper .check-icon {
    width: 30px;
}

/* slideshow css */
.slideshow {
    position: relative;
    padding: 0px;
}

.slideshow .row {
    margin: 0px;
}

.slideshow-image,
.commercial-about img,
.service-card img,
.first-impression img,
.commercial-header img,
.nextstep img,
.simple-process img,
.refresh img,
.snow img,
.asphalt-wrapper img,
.impression-wrapper img:not(.next-section) {
    width: 100%;
}
.slideshow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.644);
}

.slideshow-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 3vw;
    font-size: 18px;
    font-size: clamp(18px, 3vw, 3vw);
    width: 75%;
    line-height: 1.8em;
}

.slideshow button {
    z-index: 4000;
    background-color: transparent;
    border: 0px;
}

.next-slide,
.prev-slide {
    width: 60px;
}

.slideshow button .next-slide {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -50%);
    width: 30px;
}

.slideshow button .prev-slide{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 30px;
}

.slideshow span {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5px;
}

.slideshow span img {
    margin: 0px 4px;
    width: 20px;
    opacity: .5;
}

.slideshow span img.active {
    opacity: 1;
}

/* NEXT STEP CSS */
.nextstep {
    width: 95%;
    margin-top: 80px;
    margin-bottom: 80px;
}

/* ASPHALT CSS */
.asphalt-wrapper {
    margin-bottom: 80px;
    position: relative;
}

.asphalt-wrapper img {
    height: 100%;
}

.asphalt-wrapper .benefits {
    background-color: #333333;
    width: 100%;
    height: 100%;
    color: white;
    padding: 50px;
}

.asphalt-wrapper .benefits .title {
    font-family:'Raleway';
    font-size: 1.8vw;
    letter-spacing: .0705em;
}

.asphalt-wrapper .benefits .dash {
    width: 50px;
    height: 50%;
    border-bottom: 1px solid white;
}

.asphalt-wrapper .benefits .body {
    font-family: 'Roboto';
    letter-spacing: 1px;
    color:rgb(211, 211, 211);
}

.asphalt-wrapper .inline {
    display: inline;
    font-family: 'Raleway';
    font-weight: lighter;
    font-size: 2vw;
    letter-spacing: 1.5px;
}

/* .asphalt-wrapper .overlay {
    background-color: rgba(0,0,0,.4);
}

.asphalt-wrapper .text {
    position: absolute;
    z-index: 31;
    color: white;
    top: 30px;
    left: 20px;
}

.asphalt-wrapper .text h4 {
    font-family: 'Raleway';
} */

/* SNOW CSS */
.snow p:last-of-type {
    margin-bottom: 30px;
}

.snow {
    width: 93%;
}

.snow a {
    text-decoration: none;
}

/* SCHEDULE CSS */
.schedule {
    background-color: #eeeeee;
    /* background-color: rgb(255, 136, 0); */
    color: black;
    padding: 50px;
    margin-top: 100px;
}

.schedule h1 {
    font-family: 'Raleway';
    /* font-weight: 400; */
    letter-spacing: 1.5px;
    margin-bottom: 30px;
    font-size: 2.5vw;
}

.schedule a {
    background-color: #0b56a4;
    border: 2px solid #0b56a4;
    color: white;
    text-decoration: none;
    /* padding: 5px 15px 5px 15px; */
}

.schedule a:hover {
    background-color: #eeeeee;
    border: 2px solid #0b56a4;
    color: #0b56a4;
}

/* BENEFITS CSS */

.commercial-benefits {
    width: 93%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.commercial-benefits img {
    width: 90%;
}

/* .commercial-benefits h4 {
    font-family: 'Raleway';
    color: #0b56a4;
    margin-bottom: 15px;
    font-size: 1.7vw;
} */

/* .commercial-benefits p {
    line-height: 1.6em;
    font-family: 'Montserrat';
    font-weight: 400;
    letter-spacing: 1px;
} */

/* .commercial-benefits img {
    width: 50px;
    margin-bottom: 25px;
} */

/* .commercial-benefits a {
    margin: 0 auto;
    margin-top: 28px;
    text-decoration: none;
} */

/* SIMPLE PROCESS CSS */
.simple-process .container-fluid {
    margin: 0 auto;
    width: 93%;
    /* margin: 0px; */
}

.simple-process .overlay {
    display: none;
}

.simple-process h1,
.simple-process h3,
.simple-process h6{
    font-weight:normal;
    font-family: 'Raleway';
    letter-spacing: 1px;
}
.simple-process h1 {
    font-weight: 450;
    color:#ed6a22;
    margin-top: 40px;
    font-size: 3.2vw;
    font-size: 1.8em;
    font-size: clamp(1.9em, 3.3vw, 3.2vw)
}

.simple-process h3 {
    /* color:rgb(0, 90, 194); */
    color: rgb(105, 105, 105);
    font-size: clamp(1.2em, 2.2vw, 2.9vw)
}

.simple-process h6 {
    margin-top: 2rem;
}

.simple-process li {
    font-family: 'Montserrat'
}

.refresh h3 {
    font-family: 'Raleway';
    color:  #0b56a4;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0px;
}

.refresh hr {
    margin-top: 10px !important;
}

.refresh h6 {
    font-weight: 500;
    font-family: 'Raleway';
    font-size: 1.15rem;
    color: rgb(59, 59, 59);
    letter-spacing: .05em;
}

.refresh {
    margin: 0 auto;
    margin-bottom: 80px;
    padding-top: 80px;
    width: 93%;
    font-family: 'Roboto';
}

.impression-wrapper {
    position: relative;
}

/* .impression-wrapper img:not(.next-section) {
    width: 100%;
} */

.impression-wrapper .overlay {
    background-color: rgba(0,0,0,.4);
}

.impression-wrapper .text {
    position: absolute;
    top: 68%;
    left: 20px;
    color: white;
    z-index: 35;
}

.impression-wrapper .text h3 {
    letter-spacing: 3.8px;
    font-size: 3.5vw;
    font-family: 'Raleway';
    font-weight: 400;
    margin-bottom: 15px;
}

.impression-wrapper p {
    font-size: 1em;
    font-family: 'Montserrat';
    font-weight: 500;
    letter-spacing: 1px;
}

.impression-wrapper .next {
    width: 75px;
    height: 60px;
}

/* @media only screen and (max-width: 1200px) {
    .impression-wrapper p {
        font-size: 1em;
    }
} */

@media only screen and (min-width: 768px) {
    .simple-process {
        position: relative;
    }
    .simple-process .container-fluid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 40;
        color: white;
        padding-left: 3rem;
        width: 720px;
    }
    .simple-process .overlay {
        display: block;
    }
    .simple-process h1 {
        margin-top: 0px;
    }
    .simple-process h3 {
        color: rgb(211, 211, 211);
    }
    .simple-process h6 {
        margin: 3rem 0 1rem 0;
    }

    .slideshow span {
        bottom: 30px;
    }

    .slideshow span img {
        width: 30px;
    }
    .slideshow button .next-slide,
    .slideshow button .prev-slide {
        width: 40px;
    }
}

@media only screen and (min-width: 992px) {
    .marriott-wrapper h4,
    .marriott-wrapper p:not(.contact-modal-wrapper .section-p),
    .nextstep .section-header,
    .nextstep .section-p,
    .commercial-about h3,
    .commercial-about p {
        padding-left: 1rem;
    }
    .impression-wrapper .text {
        padding-left: 2rem;
    }
    .marriott-wrapper a {
        margin-left: 1rem;
    }
    .snow img {
        padding-top: 0px !important;
    }
    .commercial-about {
        margin-top: 100px;
    }
    .simple-process .container-fluid {
        width: 960px;
    }
    .marriott-wrapper img {
        margin-bottom: 0px;
    }
    .slideshow button .next-slide,
    .slideshow button .prev-slide {
        width: 60px;
    }
}

@media only screen and (min-width: 1200px) {
    .simple-process .container-fluid {
        width: 1140px;
    }
    .impression-wrapper p {
        font-size: 1.2em;
    }
}
/* 
@keyframes commSlide {
    0% {
        background-image: url('../../images/commercial/commercial2.jpeg');
    }
    50% {
        background-image: url('../../images/commercial/plow.jpg');
    }
} */