.franchise-nav {
    background-color: rgb(39, 39, 39);
    z-index: 50;
    line-height: 30px;
    padding-right: calc(3.5% + 20px);
}

.franchise-nav a {
    color: white;
    font-family:'Raleway', sans-serif;
    letter-spacing: .05em;
    text-decoration: none;
    font-size: 12px;
}

.franchise-nav a:hover {
    color: #ed6a22;
}