.green-solns {
    width: 95%;
}

.green-solns h4 {
    width: 90%;
    /* text-align: center; */
    /* border: 1px solid red; */
    /* margin: 0 auto; */
}

.green-solns p.subtitle {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: rgb(59, 59, 59);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .06em;
    margin-top: 1.2rem;
    margin-bottom: .7rem;
}

.green-solns img {
    width: 100%;
}
/* 
@media only screen and (min-width: 1200px) {
    .green-solns hr {
        margin-bottom: 40px !important;
    }
} */

@media only screen and (min-width: 750px) {
    .green-solns h4,
    .green-solns .title .section-p {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .green-solns .title .section-p {
        margin-bottom: 30px;
    }
    .green-solns h4 {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    .green-solns h4,
    .green-solns .title .section-p {
        width: 50%;
    }
}