.contact-modal-wrapper .modal {
    padding-right: 0px !important;
}

.contact-modal-wrapper .modal-content {
    border-radius: 0px;
    padding: 40px;
    margin: 0 auto;
}

/* button, .button, input[type="submit"], .a8c-posts-list__view-all, button[data-load-more-btn] {
    border-radius: 0px !important;
} */

.contact-modal-wrapper .modal-open .modal {
    height: 600px;
}

.contact-modal-wrapper .modal-dialog {
    max-width: 350px !important;
    margin: 0 auto;
}

.contact-modal-wrapper .modal-content h3 {
    font-family:'Raleway', sans-serif;
    letter-spacing: .06em;
    margin-bottom: 15px;
    font-size: clamp(1.3rem, 2.1vw, 2.3rem);
}

.contact-modal-wrapper .modal-content .contact-form .section-p {
    font-size: .9em;
}

.contact-modal-wrapper .close {
    position: absolute;
    top: 5px;
    right: 12px;
    font-weight: 300;
    font-size: 2rem;
}

.contact-form input {
    width: 100%;
    border: 1px solid rgb(167, 167, 167) !important;
    /* height: 40px; */
    padding: 10px 20px;
}

.contact-form .input-left,
.contact-form .input-right {
    padding: 0px;
}

.contact-form textarea {
    width: 100%;
    border: 1px solid rgb(167, 167, 167) !important;
    height: 80px;
    padding: 15px 20px 20px 20px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    font-family: 'Montserrat';
    font-size: .8em;
    letter-spacing: .03em;
}

.contact-form #submit {
    /* border: 1px solid black;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: .8em;
    letter-spacing: .05em;;
    padding: 3px 15px 2px 15px; */
    margin-top: 1rem;
}
/* 
.contact-form #submit:hover {
    background-color: black;
    color: white;
    transition: .5s;
} */

@media only screen and (min-width: 576px) {
    .contact-modal-wrapper .modal-dialog {
        max-width: 550px !important;;
    }

    .contact-modal-wrapper .contact-form .input-left {
        padding-right: 15px;
    }
    .contact-modal-wrapper .contact-form .input-right {
        padding-left: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .contact-modal-wrapper .modal-dialog {
        max-width: 700px !important;;
    }
}

@media only screen and (min-width: 992px) {
    .contact-modal-wrapper .modal-dialog {
        max-width: 800px !important;
    }
}