.about-wrapper {
    width: 90%;
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
    margin-top: -100px;
    background-color: white;
    z-index: 5;
    box-shadow: 0px 1px 20px 8px rgba(0,0,0,0.1);
    padding-top: 50px;
    padding-bottom: 60px;
    position: relative;
}

.about-wrapper h2 {
    margin: 0 auto;
    font-family: 'Raleway';
    margin-bottom: 25px;
    margin-top: 15px;
    color:rgb(83, 83, 83);
    width: 90%;
    max-width: 500px;
}

.about-wrapper p {
    width: 86%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.career-wrapper .apply-wrapper {
    width: 85%;
    margin: 0 auto;
    max-width: 1300px;
}

.career-wrapper .apply-wrapper h2,
.core-wrapper h2,
.what-wrapper h2 {
    font-family: 'Raleway';
    color: #0b56a4;
    letter-spacing: .05em;
    margin-bottom: 20px;
}

.career-wrapper .apply-wrapper h5 {
    font-family: 'Raleway';
    color: rgb(73, 73, 73);
    color: #0b56a4;
    font-weight: bold;
    letter-spacing: .05em;
    margin-bottom: 10px;
    font-size: 18px;
}

.apply-wrapper select {
    margin-bottom: 40px;
    width: 100%;
    max-width: 390px;
}

.apply-wrapper input {
    padding: .3rem .75rem;   
    border-radius: 5px;
    border: 1px solid #ced4da;
    width: 100%;     
    max-width: 390px;
    background-color: white;
}

.career-wrapper .apply-wrapper button {
    background-color: #0b56a4;
    border: 0px;
    color: white;
    padding: 4px 30px 4px 30px;
    margin-top: 30px;
    font-size: 14px;
    letter-spacing: .15em;;
    font-family: 'Raleway';
    margin-left: 5px;
}


/* CORE VALUES CSS */
.core-bg,
.apply-bg {
    background-color: #f8f8f8;
    width: 100%;
    background-color: #f8f8f8;
    padding: 90px 0px;
    margin-bottom: 100px;
    margin-top: 80px;
}

.core-wrapper {
    margin: 0 auto;
    width: 85%;
    max-width: 1300px;
}

.core-wrapper button {
    margin-left: 0px;
    margin-top: 20px;
}

.core-wrapper .subheader {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    /* color: rgb(59, 59, 59); */
    color: #0b56a4;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .06em;
    margin-top: 1.2rem;
}

.core-wrapper img {
    width: 120%;
}

.core-wrapper .bottom-row {
    margin-top: -13%;
}

/* WHAT WE DO CSS */
.what-wrapper {
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.what-wrapper iframe {
    width: 100%;
}