.about-wrapper {
    width: 90%;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
}

.about-wrapper h2 {
    font-family: 'Raleway';
    margin-bottom: 25px;
    margin-top: 15px;
}

.about-wrapper p {
    margin-bottom: 25px;
}

.apply-bg {
    width: 100%;
    background-color: #f8f8f8;
    padding: 80px 0px;
    margin-bottom: 80px;
    margin-top: 80px;
}

.apply-wrapper {
    width: 85%;
    margin: 0 auto;
}

.apply-wrapper h2 {
    font-family: 'Raleway';
    color: #0b56a4;
    letter-spacing: .05em;
    margin-bottom: 20px;
}

.apply-wrapper h6 {
    font-family: 'Raleway';
    color: rgb(73, 73, 73);
    letter-spacing: .05em;
    margin-bottom: 10px;
}

.apply-wrapper select {
    margin-bottom: 40px;
    width: 80%;
}

.apply-wrapper input {
    padding: .3rem .75rem;   
    border-radius: 5px;
    border: 1px solid #ced4da;
    width: 80%;     
}

.apply-wrapper button {
    background-color: #0b56a4;
    border: 0px;
    color: white;
    padding: 2px 20px 2px 20px;
    margin-top: 30px;
    letter-spacing: .08em;;
    font-family: 'Raleway';
    margin-left: 5px;
}