.slideshow-wrapper {
    position: relative;
    margin-bottom: 100px;
}

.slideshow-wrapper .text button.cta {
    color: rgb(221, 221, 221)  !important;
    border: 2px solid rgb(221, 221, 221) !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 45px;
    margin-left: 0px;
}

.slideshow-wrapper .text button.cta:hover {
    color: white !important;
    border-color: white !important;
    background-color: transparent !important;
}

.slideshow-wrapper img:not(.forward):not(.back) {
    width: 100%;
}

.slideshow-wrapper .overlay {
    background-color: rgba(0,0,0,.5);
}

.slideshow-wrapper .text {
    position: absolute;
    top: 45%;
    transform: translate(0%, -45%);
    color: white;
    z-index: 3;
}

.slideshow-wrapper p {
    font-family: 'Montserrat', sans-serif;
    /* font-size: 1.2em; */
    font-size: .88em;
    font-weight: 300;
}

.slideshow-wrapper p,
.slideshow-wrapper h3 {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.slideshow-wrapper h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 5.5vw;
    font-weight: 300;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.slideshow-wrapper .forward,
.slideshow-wrapper .back {
    width: 30px;
    /* opacity: .7; */
    /* width: 60px; */
}
/* .slideshow-wrapper .forward:hover,
.slideshow-wrapper .back:hover {
    opacity: 1;
} */

.slideshow-wrapper img.disabled,
.slideshow-wrapper img.disabled:hover  {
    opacity: .3;
}

.slideshow-wrapper button {
    border: 0px;
    background-color: transparent;
}

.slideshow-wrapper .slide-indicator {
    position: absolute;
    bottom: 30px;
    z-index: 20;
    width: 100%;
    text-align: center;
}

.slideshow-wrapper .slide-indicator img {
    width: 30px !important;
    margin: 0px 4px;
    width: 30px;
    opacity: .5;
}

.slideshow-wrapper .slide-indicator img.active {
    opacity: 1;
}

@media only screen and (min-width: 576px) {
    .slideshow-wrapper h3 {
        font-size: 4vw;
    }
    .slideshow-wrapper p {
        font-size: 1.2em;
    }
    .slideshow-wrapper .forward,
    .slideshow-wrapper .back {
        width: 40px;
    }
}

@media only screen and (min-width: 768px) {
    .slideshow-wrapper p {
        font-size: 1.2em;
    }
    .slideshow-wrapper .forward,
    .slideshow-wrapper .back {
        width: 60px;
    }
}