.subcontractor-wrapper {
    width: 95%;
    margin: 0 auto;
    padding: 25px;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    /* position: relative; */
}

.bg h2 {
    color: #ed6a22;
    color: #0b56a4;
    font-family: 'Raleway';
    letter-spacing: .05em;
    text-align: center;
    margin-bottom: 16px;
}

.bg img.vip {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.bg .vip:not(img.vip) {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.bg h5.title {
    font-family: 'Raleway';
    margin: 0 auto;
    width: 60%;
    text-align :center;
    margin-bottom: 50px;
    line-height: 1.5em;
    letter-spacing: .03em;
}

.bg select {
    width: 40%;
    margin: 0 auto !important;
    display: block;
    margin-bottom: 50px !important;
}

.bg {
    width: 100%;
    height: 100%;
    padding-top: 120px;
    padding-bottom: 100px;
    /* background-color: rgb(243, 243, 243); */
}

.promise-bg {
    width: 100%;
    background-color: #f8f8f8;
    padding: 80px 0px;
    margin-bottom: 80px;

}

.promise-wrapper {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    background-color: white;
    padding: 40px;
}

.promise-wrapper h2 {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
    line-height: 1.5em;
}

.promise-wrapper h6 {
    color: rgb(73, 73, 73);
}

.promise-wrapper p {
    font-size: 15px;
    margin-left: 28px;
    color: rgb(75, 75, 75);
}

.promise-wrapper i {
    margin-right: 8px;
}

.promise-wrapper .fa-check-circle {
    color: rgb(0, 207, 0);
}

.promise-wrapper .fa-times-circle {
    color: red;
}

.apply-wrapper {
    width: 80%;
    background: rgb(11,57,84);
    background: linear-gradient(22deg, rgba(11,57,84,1) 18%, rgba(11,86,164,1) 73%);
    margin: 0 auto;
    padding: 50px 50px 30px 50px;
    margin-bottom: 50px;
}

.apply-wrapper h2 {
    color: white;
}

.apply-wrapper h5 {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 35px;
    letter-spacing: .03em;
    font-weight: normal;
}

/* .subcontractor-wrapper .alert-wrapper {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    padding: 30px;
    border: 1px solid gray;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
}

.subcontractor-wrapper .alert-wrapper button {
    background-color: transparent;
    border: 0px;
    font-size: 16px;
} */

.subcontractor-wrapper h2 {
    font-family: 'Raleway', sans-serif;
    color: #0b56a4;
    font-size: clamp(25px, 2.5vw, 50px);
    letter-spacing: .05em;
}

.subcontractor-wrapper h5 {
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.subcontractor-wrapper h2,
.subcontractor-wrapper h5 {
    width: 100%;
    text-align: center;
}

.subform-wrapper {
    margin-top: 30px;
}

.subform-wrapper canvas {
    border: 1px dashed gray;
    margin-bottom: 30px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
    position: relative;
}

.subform-wrapper .clear,
.subform-wrapper .save {
    background-color: transparent;
    margin-right: 7px;
    /* font-family: 'Raleway', sans-serif; */
    letter-spacing: .05em;
    padding: 0px 20px;
}

.subform-wrapper .clear {
    color: red;
    border: 2px solid red;
    border-radius: 0px;
}

.subform-wrapper .save {
    color: green;
    border: 2px solid green;
    border-radius: 0px;
}

.subform-wrapper button.cta {
    margin-left: 0px;
    margin-top: 20px;
}

.subform-wrapper input {
    padding-left: 10px;
    border-radius: 0px;
    border: 1px solid gray;
}

/* .subform-wrapper input[type='radio']:checked:after {
    color: #0b56a4;
} */

.subform-wrapper input::placeholder {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;;
}

.subform-wrapper span {
    width: 100%;
    margin-top: 20px;
}

.subform-wrapper .center-left-input,
.subform-wrapper .center-center-input,
.subform-wrapper .center-right-input {
    width: 32%;
}

.subform-wrapper .center-center-input,
.subform-wrapper .center-right-input {
    margin-left: 2%;
}

.subform-wrapper span p,
.subform-wrapper label {
    margin-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

#liability,
#insurance,
#remoteAccess,
#acceptTerms,
#authority {
    margin-right: 5px;
}

label {
    margin-right: 10px;
}

.agreement {
    margin: 30px -15px 20px -15px;
    border: 1px solid gray;
    padding: 5px 20px 10px 20px;
    width: 100%;
}

.agreement h6,
.form-check p {
    color: navy;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin-top: 15px;
    font-weight: bold;
}

.agreement p.agreement-wrapper {
    height: 75px;
    overflow-y: auto;
    font-size: .6em;
}

.subform-wrapper .application-sent {
    margin: 20px -15px;
    border-radius: 2px;
}


.respect-wrapper {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.respect-wrapper h1 {
    font-family: 'Raleway';
    color: #0b56a4;
    margin-bottom: 30px;
}

.respect-wrapper h5 {
    color: rgb(97, 97, 97);
    width: 70%;
    /* margin-bottom: 35px; */
    font-weight: 400;
    letter-spacing: .03em;
}

.respect-wrapper i {
    color: #0b56a4;
}

.growing-bg {
    background-image: url('../../images/subcontractor/growing.jpeg');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 100px;
}

.growing-bg .overlay {
    background-color: rgba(0,0,0,.15);
}

.growing-wrapper {
    width: 90%;
    max-width: 400px;
    position: absolute;
    z-index: 5;
    top: 20%;
    left: 7%;
}

.growing-wrapper h1 {
    font-family: 'Raleway';
    color: white;
    letter-spacing: .05em;
}

.growing-wrapper p {
    color: rgb(216, 216, 216);
    font-size: 20px;
}

.growing-wrapper button.cta {
    color: white !important;
    bordeR: 2px solid white !important;
}

.growing-wrapper button.cta:hover {
    background-color: transparent !important;
}

.tools-bg {
    width: 100%;
    padding: 80px 0px;
    margin-bottom: 100px;
    background-color: #f8f8f8;
}

.tools-wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.tools-bg h1 {
    color: #0b56a4;
    letter-spacing: .05em;
    font-family: 'Raleway';
    text-align: center;
    margin-bottom: 70px;
}

.tools-bg h6 {
    text-align: center;
    color: rgb(73, 73, 73);
    font-family: 'Raleway';
    letter-spacing: .03em;
}

.tools-bg img {
    margin-bottom: 30px;
    width: 80px;
}

.tools-bg p {
    font-size: 18px;
    width: 85%;
    margin: 0 auto;
}

@media only screen and (min-width: 576px) {
    .subcontractor-wrapper {
        width: 90%;
        padding: 40px;
    }
}

@media only screen and (min-width: 768px) {
    .subcontractor-wrapper {
        width: 78%;
        padding: 50px;
    }
}


