.subcontractor-wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.subcontractor-wrapper h2 {
    font-family: 'Raleway', sans-serif;
    color: #0b56a4;
}

.subcontractor-wrapper h5 {
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.subcontractor-wrapper h2,
.subcontractor-wrapper h5 {
    width: 100%;
    text-align: center;
}

.subform-wrapper {
    margin-top: 30px;
}

.subform-wrapper button.cta {
    margin-left: 0px;
    margin-top: 20px;
}

.subform-wrapper input {
    padding-left: 10px;
}

.subform-wrapper input::placeholder {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;;
}

.subform-wrapper span {
    width: 100%;
    margin-top: 20px;
}

.subform-wrapper .center-left-input,
.subform-wrapper .center-center-input,
.subform-wrapper .center-right-input {
    width: 32%;
}

.subform-wrapper .center-center-input,
.subform-wrapper .center-right-input {
    margin-left: 2%;
}

.subform-wrapper span p,
.subform-wrapper label {
    margin-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

#liability,
#insurance,
#remoteAccess,
#acceptTerms {
    margin-right: 5px;
}

label {
    margin-right: 10px;
}

.agreement {
    margin: 30px -15px 20px -15px;
    border: 1px solid gray;
    padding: 5px 20px 10px 20px;
    width: 100%;
}

.agreement h6,
.form-check p {
    color: navy;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin-top: 15px;
    font-weight: bold;
}

.agreement p {
    height: 75px;
    overflow-y: auto;
    font-size: .6em;
}

.subform-wrapper .application-sent {
    margin: 20px -15px;
    border-radius: 2px;
}

@media only screen and (min-width: 992px) {
    .subcontractor-wrapper {
        width: 60%;
    }
}