.subcontractor-wrapper {
    width: 95%;
    margin: 0 auto;
    padding: 25px;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    /* position: relative; */
}

.bg {
    width: 100%;
    height: 100%;
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: rgb(243, 243, 243);
}

/* .subcontractor-wrapper .alert-wrapper {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    padding: 30px;
    border: 1px solid gray;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
}

.subcontractor-wrapper .alert-wrapper button {
    background-color: transparent;
    border: 0px;
    font-size: 16px;
} */

.subcontractor-wrapper h2 {
    font-family: 'Raleway', sans-serif;
    color: #0b56a4;
    font-size: clamp(25px, 2.5vw, 50px);
    letter-spacing: .05em;
}

.subcontractor-wrapper h5 {
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.subcontractor-wrapper h2,
.subcontractor-wrapper h5 {
    width: 100%;
    text-align: center;
}

.subform-wrapper {
    margin-top: 30px;
}

.subform-wrapper canvas {
    border: 1px dashed gray;
    margin-bottom: 30px;
    max-width: 100%;
}

.subform-wrapper button.cta {
    margin-left: 0px;
    margin-top: 20px;
}

.subform-wrapper input {
    padding-left: 10px;
    border-radius: 0px;
    border: 1px solid gray;
}

/* .subform-wrapper input[type='radio']:checked:after {
    color: #0b56a4;
} */

.subform-wrapper input::placeholder {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;;
}

.subform-wrapper span {
    width: 100%;
    margin-top: 20px;
}

.subform-wrapper .center-left-input,
.subform-wrapper .center-center-input,
.subform-wrapper .center-right-input {
    width: 32%;
}

.subform-wrapper .center-center-input,
.subform-wrapper .center-right-input {
    margin-left: 2%;
}

.subform-wrapper span p,
.subform-wrapper label {
    margin-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

#liability,
#insurance,
#remoteAccess,
#acceptTerms,
#authority {
    margin-right: 5px;
}

label {
    margin-right: 10px;
}

.agreement {
    margin: 30px -15px 20px -15px;
    border: 1px solid gray;
    padding: 5px 20px 10px 20px;
    width: 100%;
}

.agreement h6,
.form-check p {
    color: navy;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin-top: 15px;
    font-weight: bold;
}

.agreement p {
    height: 75px;
    overflow-y: auto;
    font-size: .6em;
}

.subform-wrapper .application-sent {
    margin: 20px -15px;
    border-radius: 2px;
}

@media only screen and (min-width: 576px) {
    .subcontractor-wrapper {
        width: 90%;
        padding: 40px;
    }
}

@media only screen and (min-width: 768px) {
    .subcontractor-wrapper {
        width: 80%;
        padding: 50px;
    }
}

@media only screen and (min-width: 992px) {
    .subcontractor-wrapper {
        width: 60%;
    }
}