.password {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    margin-top: 180px;
}

form#add-location {
    margin: 0 auto;
    width: 50%;
    margin-top: 50px;
}

form#add-location h3,
form#add-location p {
    text-align: center;
    font-family: 'Raleway';
}

form#add-location h3 {
    color: #0b56a4;
    letter-spacing: .05em;
}

form#add-location select {
    width: 46%;
    margin-left: 2%;
    padding: 2px 7px;
}

form#add-location input {
    width: 46%;
    margin: 5px 2%;
    padding: 2px 7px;
}

form .add-buttons {
    width: 100%;
    text-align: center;
}

form .add-buttons button {
    color: white;
    border: 0px;
    padding: 3px 15px 5px 15px;
    font-size: .8em;
    letter-spacing: .05em;
}

form#add-location .add-btn {
    margin: 0 auto;
    margin-top: 20px;
    background-color:  #ed6a22;
}

form#add-location .lat-lon {
    background-color: #0b56a4;
    color: white;
    margin-right: 15px;
}

form#add-location .lat-lon:hover {
    background-color: #0b55a4d8;
}

form#add-location .add-btn:hover {
    background-color: #ed6922d2;
}