.location-cta {
    position: fixed;
    top: 25vh;
    z-index: 400;
}

.location-cta.hide {
    display: none
}

.inline {
    display: inline;
}

.location-cta button.hide-zipcode {
    border: 0px;
    background-color: transparent;
    color: lightgray;
    margin-bottom: 5px;
    margin-left: -15px;
}

.location-cta button.display-zipcode {
    position: fixed;
    border: 0px;
    background-color: #ed6a22;
    color: white;
    font-family: 'Roboto';
    font-size: 1em;
    letter-spacing: .05em;
    border-radius: 0px 0px 5px 5px;
    transform: rotate(90deg);
    height: 35px;
    right: -68px;
    width: 170px;
}

.location-cta .location-search {
    position: fixed;
    top: 25vh;
    right: 0;
    z-index: 500;
    background-color: #0b56a4;
    /* background-color: rgb(29, 29, 29); */
    padding: 10px 20px 30px 20px;
    color: white;
}

.location-search label {
    font-family: 'Raleway';
    letter-spacing: 1px;
}

.location-search input {
    border: 1.5px solid white;
    padding-left: 10px;
    margin-left: 10px;
}

.location-search input::placeholder {
    font-family: 'Raleway';
    letter-spacing: .5px;
}

.location-cta #search {
    background-color: white;
    border: 1.5px solid white;
    color: blue;
}

#search i {
    border: 0px;
}