.services-container {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    margin-top: 80px;
}

.services-container h3 {
    font-size: 2em;
    padding-bottom: 10px;
    font-weight: 400;
    margin-bottom: 0px;
}

.services-container hr {
    margin: 0px 0px 10px 0px;
}