.services-container {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    margin-top: 80px;
}

.services-container h3 {
    font-family: 'Raleway', sans-serif;
    color: #0b56a4;
    letter-spacing: .06em;
    line-height: 1.2em;
    margin-top: 1rem;
    margin-bottom: 30px;;
    /* font-size: clamp(28px, 2vw, 28px); */
    font-size: clamp(25px, 3.5vw, 35px);
    text-align: center;
}

.services-container hr {
    margin: 0px 0px 10px 0px;
}