.commercial-services {
    margin: 0 auto;
    margin-top: 100px;
}

.commercial-services img {
    width: 100%;
}

.commercial-services h4 {
    margin-bottom: 25px;
}

.commercial-services .service-card {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.service-card img {
    height: 230px;
}
.service-card h5 {
    text-align: center;
    font-family: 'Roboto';
    letter-spacing: .3px;
    padding: 10px 0px 10px 0px;
    font-size: 1em;
}
.commercial-services button {
    background-color: rgba(0,0,0,.644);
    color: white;
    border: 0px;
    padding: 5px 10px 5px 10px;
}
.commercial-services button:hover {
    background-color: #0b56a4;
}

/* .service-card img[data-attribute='3'] {
    width: 200%;
} */