.projects-wrapper {
    margin-bottom: 80px;
    width: 90%;
    margin-top: 100px;
}

.projects-wrapper p.project-title {
    font-family: 'Raleway';
    letter-spacing: .05em;
    font-size: 20px;
    font-weight: 500;
    color: #0b56a4;
    margin-top: 25px;
}

.projects-wrapper img.intro-img {
    width: 100%;
    max-width: 525px;
    height: 300px;
}

.projects-wrapper button {
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    padding: 0px;
    letter-spacing: .03em;
}

.projects-wrapper button .arrow {
    transform:scale(.8,.8)
}

.projects-wrapper .image-wrapper {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: cover;
}

.image-wrapper[data-project = '5 STAR ASPHALT REFRESHMENT'] {
    background-image: url('../../featured/asphalt3.jpg');
}

.image-wrapper[data-project = 'ROOFING DONE RIGHT'] {
    background-image: url('../../featured/roofing3.jpg');
}

.image-wrapper[data-project = 'URBAN OASIS'] {
    background-image: url('../../featured/urban4.jpg');
}

.image-wrapper[data-project = 'COMPLETE TRANSFORMATION'] {
    background-image: url('../../featured/transformation3.jpg');
}

.image-wrapper[data-project = 'A TRENDY LANDSCAPE'] {
    background-image: url('../../featured/trendy3.jpg');
}