.who-is-tb.card-wrapper {
    margin-top: 80px;
    width: 93%;
}

.who-is-tb.card-wrapper img {
    position: absolute;
    bottom: -20px;
    right: -20px;
    opacity: .7;   
}

/* @media only screen and (min-width: 992px) {
    .mbridge-text {
        padding-right: 40px;
    }
} */

.who-is-tb.card-wrapper .card {
    background: linear-gradient(116.43deg, #0B56A4 -0.01%, #070E14 103.46%);
    mix-blend-mode: normal;
    padding: 30px;
    height: 220px;
    position: relative;
    padding: 30px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
}

.who-is-tb.card-wrapper .card .text {
    color: white;
}

.who-is-tb.card-wrapper .card .text .tb-is,
.who-is-tb.card-wrapper .card .text .body {
    font-family: 'Montserrat', sans-serif;
}

.who-is-tb.card-wrapper .tb-is {
    margin-bottom: 0px;
    font-weight: 300;
}

.who-is-tb.card-wrapper .text .body {
    font-size: 14px;
    width: 80%;
}

.who-is-tb.card-wrapper .card .text .title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: .05em;
}