.contact2-wrapper {
    background-color: white;;
    padding-bottom: 500px;
    position: relative;
}

svg#linear-gradient {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 0;
}

.contact2-wrapper h2 {
    color: #0b56a4;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px !important;
    text-align: center;
    padding-top: 50px;
}

.contact2-wrapper .contact-form-info {
    position: absolute;
    top: 0;
    width: 100%;
}

.contact2-wrapper h3,
.contact2-wrapper .section-p {
    text-align: center;
    margin: 0 auto;
}

.contact2-wrapper .container-fluid {
    width: 93%;
}

.contact2-wrapper .contact-info {
    padding-right: 100px;
    padding-left: 10px;
}

.contact2-wrapper .section-p:last-of-type {
    margin-bottom: 30px;
}

.contact2-wrapper .contact-info a {
    color: white !important;
    text-decoration: none;
    background-color: #ed6a22;
    margin-right: 7px;
    border-radius: 50%;
    padding: 6px 10px;
}

.contact2-wrapper .contact-info h5 {
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
    margin-top: 30px;
}

.contact2-wrapper .contact-info p {
    color: rgb(221, 221, 221);
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
}

.contact2-wrapper .contact-info p:last-of-type {
    margin-bottom: 25px;
}

.contact2-wrapper .contact-info .fa-facebook-f {
    padding: 0px 2px;
}

.contact2-wrapper .form-wrapper {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    /* background-color: rgb(223, 223, 223); */
    background-color: white;
    padding: 40px 20px;
    width: 90%;
    margin: 0 auto;

}

.contact2-wrapper .form-wrapper button {
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: #0b56a4;
    border: 0px;
    margin-top: 20px;
    padding: 5px;
    letter-spacing: .0705em;
    /* font-size: 1.2em; */
}

.contact2-wrapper input,
.contact2-wrapper textarea {
    border: 1px solid rgb(202, 202, 202);
    padding: 5px;
}

.contact2-wrapper span,
.contact2-wrapper textarea {
    width: 100%;
}

.contact2-wrapper .left-input,
.contact2-wrapper .right-input {
    margin-bottom: 20px;
    width: 48%;
}

.contact2-wrapper .right-input {
    margin-left: 4%
}

.contact2-wrapper input::placeholder,
.contact2-wrapper textarea::placeholder  {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
    padding: 5px 7px;
}

.contact2-wrapper textarea {
    height: 100px;
}