.contact2-wrapper {
    background-color: white;;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* .contact2-wrapper h3 {
    color: #0b56a4;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 40px;
} */

.contact2-wrapper h3 {
    color: #0b56a4;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}

.contact2-wrapper .container-fluid {
    width: 93%;
}

.contact2-wrapper .contact-info {
    padding-right: 100px;
    padding-left: 50px;
}

.contact2-wrapper .section-p:last-of-type {
    margin-bottom: 30px;
}

.contact2-wrapper .contact-info a {
    color: white !important;
    text-decoration: none;
    background-color: #ed6a22;
    margin-right: 7px;
    border-radius: 50%;
    padding: 6px 10px;
}

.contact2-wrapper .contact-info .fa-facebook-f {
    padding: 0px 2px;
}

.contact2-wrapper .form-wrapper {
    background-color: rgb(223, 223, 223);
    padding: 40px 20px;
    width: 90%;
    margin: 0 auto;
}

.contact2-wrapper input,
.contact2-wrapper textarea {
    border: 0px;
    padding: 5px;
}

.contact2-wrapper span,
.contact2-wrapper textarea {
    width: 100%;
}

.contact2-wrapper .left-input,
.contact2-wrapper .right-input {
    margin-bottom: 20px;
    width: 48%;
}

.contact2-wrapper .right-input {
    margin-left: 4%
}

.contact2-wrapper input::placeholder,
.contact2-wrapper textarea::placeholder  {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
    padding: 5px 7px;
}

.contact2-wrapper textarea {
    height: 100px;
}