.finance-bg {
    width: 100%;
    height: 300px;
    padding: 50px;
    position: relative;
    margin-top: 100px;
    background-size: cover;
    background-position: center center;
}

.finance-bg[data-region='east'] {
    background-image: url('../../images/financeBgNe.jpg');
}

.finance-bg[data-region='southwest'] {
    background-image: url('../../images/financeBgSw.jpg');
}

.finance-bg[data-region='west'] {
    background-image: url('../../images/financeBg.jpg');
}

.finance-bg[data-region='northwest'] {
    background-image: url('../../images/financeBgNw.jpg');
}

.finance-bg[data-region='central'] {
    background-image: url('../../images/financeBgNw.jpg');
}

.finance-bg[data-region='midwest'] {
    background-image: url('../../images/financeBgMw.jpg');
}

.franchise-finance {
    background-color: rgb(61, 61, 61);
    position: absolute;
    width: 80%;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
}

.franchise-finance:hover {
    background-color: rgb(99, 99, 99);
    transition: .5s;
}

.franchise-finance a {
    color: white !important;
    text-decoration: none;
    font-size: clamp(20px, 2.8vw, 30px);
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
}

@media only screen and (min-width: 576px) {

}