.professional-wrapper {
    padding-bottom: 80px;
    background-color: white;
}

.professional-wrapper .container-fluid {
    width: 93%;
}

.professional-wrapper h3 {
    font-family: 'Raleway', sans-serif;
    color: #0b56a4;
}

.professional-wrapper h5 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
    color: rgb(78, 78, 78);
    margin-bottom: 16px;;
}

svg {
    margin-bottom: 25px;
}