.professional-wrapper {
    padding-bottom: 80px;
    background-color: white;
}

.professional-wrapper .container-fluid {
    width: 93%;
}

.professional-wrapper h3 {
    font-family: 'Raleway', sans-serif;
    color: #0b56a4;
    text-align: center;
}

.professional-wrapper p.title {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 45px;
}

.professional-wrapper i {
    margin-bottom: 20px;
    color: #0b56a4;
}

.professional-wrapper span {
    font-weight: 300;
    margin-right: 20px;
    margin-left: 20px;
}

.professional-wrapper h5 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
    color: rgb(78, 78, 78);
    margin-bottom: 10px;
}

.professional-wrapper button.cta {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}