.franchise-services-full {
    position: relative;
}

.franchise-services-full img {
    width: 100%;
}

.franchise-services-full .container-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 93%;
}

.franchise-services-full h5 {
    background:linear-gradient(90deg, rgba(11, 86, 164, 1) 0%,  rgba(3, 169, 244, 1)43%, rgba(11, 86, 164, 1) 100%);
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 20px 40px;
    letter-spacing: .07em;
    margin-bottom: 0px;
}

.franchise-services-full .body {
    padding: 15px 40px;
}

.franchise-services-full .list {
    background-color: white;
    margin-bottom: 30px;
}

.franchise-services-full a {
    display: inline-block;
    margin: 0 0 20px 40px;
}