/* .franchise-wrapper {
    background-image: url('../../images/franchise/random.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} */

.test {
    width: 100%;
    height: 500px;
    background-color: transparent;
}

/* .random {
    height: 550px;
    position: relative;
}

.random .overlay {
    height: 100%;
    z-index: 5;
    background-color: rgba(0,0,0,0.5)
} */

.franchise-services {
    padding-top: 90px;
    padding-bottom: 90px;
    width: 100%;
    background-color: white;
}

.franchise-services.container-fluid {
    width: 93%;
}

.franchise-services .title {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.title .section-header {
    margin: 0 auto
}

.franchise-services button {
    margin-top: 20px;
    margin-left: 0px;
}

.about {
    padding-bottom: 60px;
    padding-top: 60px;
}

.about p:first-of-type {
    margin-bottom: 0px;
}

.service-card {
    position: relative;
    width: 100%;
    box-shadow: 2px 2px 8px 1px rgba(102, 102, 102, 0.644);
    margin-bottom: 30px;
}

.service-card img {
    width: 100%;
}

.service-card h5 {
    background-color: rgba(0,0,0,0.6);
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    padding: 6px 0px;
    letter-spacing: .05em;
}

/* .step {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
    font-weight: bold;
    margin-bottom: 5px;
} */

.more-services {
    margin-top: 40px;
}

.more-services h4 {
    color: #0b56a4;
    font-family: 'Raleway',sans-serif;
    width: 100%;
    margin-bottom: 20px;
}

.more-services .card {
    padding: 30px 20px;
    /* padding: 0px; */
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    /* box-shadow: 0px 3px 15px #0b55a436; */
    border: 0px;
    /* border: 1px solid rgb(156, 156, 156); */
}

.more-services .card .card-text {
    position: absolute;
    bottom: 30px;
    left: 0;
    text-align: center;
    left: 16px;
}

.more-services .section-p {
    margin-bottom: 50px;
}

/* .more-services a.cta {
    border-radius: 15px;
} */

.about-franchise p {
    margin-top: 15px;
}

/* .random {
    position: relative;
} */

.franchise-lifestyle-wrapper img {
    width: 100%;
}

.excellent-service {
    text-align: center;
    color: white;
    /* padding-top: 100px;
    padding-bottom: 100px; */
}

.excellent-service .fa-seedling {
    color: rgb(0, 165, 0);
    margin-bottom: 20px;
}

.excellent-service .col-lg-4 p:first-of-type {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    letter-spacing: 2px;
    color: #ed6a22;
    margin-bottom: 8px;
}

.excellent-service .col-lg-4 p:nth-of-type(2) {
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    line-height: 1.8em;
    color: rgb(224, 224, 224);
}

.map {
    padding:80px 0px 0px 0px;
}

.map h2 {
    font-family: 'Raleway', sans-serif;
    color: #0b56a4;
    letter-spacing: .05em;
}

.map .section-p {
    margin-bottom: 40px;
    margin-top: 0px;
    font-size: 16px;
}

.map h5 {
    font-family: 'Raleway', sans-serif;
    color: rgb(78, 78, 78);
    margin-bottom: 5px;
    letter-spacing: .05em;
}

/* .map button.cta {
    margin-left: 0px;
} */

/* .map h1 {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin-bottom: 40px;
    letter-spacing: 3px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(0, 26, 255);
    border-bottom: 1px solid rgb(160, 160, 160);
} */

#mapid {
    width: 100%;
    height: 500px;
}

/* .map .col-lg-6 {
    position: relative;
} */

.cities {
    padding-left: 70px;
}

.cities .zipcode-list,
.cities .city-list {
    height: 280px;
    overflow-y: auto;
}

.cities span {
    margin-left: 20px;
}

.cities div,
.zipcode-list div {
    border: 0px;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    /* padding: 0px; */
    margin-bottom: 20px;
    text-align: left;
}

.city-list {
    overflow-y: auto;
    /* white-space: nowrap;
    flex-wrap: nowrap; */
}
/* 
.city-list::-webkit-scrollbar {
    display: none;
} */

.city-list::-webkit-scrollbar,
.zipcode-list::-webkit-scrollbar {
    width: 6px;
}

.city-list::-webkit-scrollbar-track,
.zipcode-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.city-list::-webkit-scrollbar-thumb,
.zipcode-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
    /* background-color:rgb(0, 26, 255); */
    background-color: #0b56a4;
    /* background-color: rgb(121, 121, 121); */
}

.cities h6 {
    /* color: white; */
    font-weight:normal;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: .07em;;
}

.franchise-lifestyle-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: white;
}

.franchise-lifestyle-wrapper .container-fluid {
    width: 93%;
}

.franchise-lifestyle-wrapper h6 {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 1.15rem;
    color: rgb(59, 59, 59);
    letter-spacing: .05em;
    margin: 30px 0px 20px 0px;
}

.franchise-lifestyle-wrapper button.cta {
    margin-left: 0px;
}