.contract-wrapper {
    position: relative;
    padding-top: 80px;
}

.contract-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
}

.contract-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: -5;
}

.contract {
    border: 1px solid gray;
    padding: 30px;
    width: 70%;
    background-color:white;
}

.contract h2 {
    color: #0b56a4;
    font-family: 'Raleway';
    letter-spacing: .06em;
    font-weight: 400;
}

.contract h4 {
    font-family: "Montserrat";
    padding-bottom: 40px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

.contract h2,
.contract h4 {
    width: 100%;
    text-align: center;
}

label {
    width: 90%;
}

label input:not(.form-check-input),
select {
    width: 100%;
    margin-top: 5px;
}

label,
.col-lg-4 p,
.agreement h6,
.form-check p {
    color: navy;
    font-family: 'Raleway';
    letter-spacing: 1px;
    margin-top: 15px;
    font-weight: bold;
}

.col-lg-4 p {
    font-size: .8em;
    margin-bottom: 5px;
    margin-top: 40px
}

label div {
    font-size: .8em;
    color: black;
    font-weight:normal;
    display: inline;
}

.form-check input,
.form-check label,
.form-check {
    display: inline;
}

.form-check {
    margin-right: 20px;
}

.agreement {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
    border: 1px solid gray;
    padding: 10px;
}

.agreement h6 {
    margin-bottom: 15px;
}

.agreement p {
    height: 75px;
    overflow-y: auto;
    font-size: .6em;
}

.agreement-radio .form-check {
    margin-left: 30px;
}

.agreement-radio .form-check input {
    margin-left: 20px;
}

.agreement-radio .form-check label {
    margin-left: 40px;
}

#submit {
    margin-top: 20px;
    margin-left: 35px;
    background-color: navy;
    color: white;
    letter-spacing: 2px;
    font-family: 'Raleway';
    padding: 8px 13px 8px 13px;
    border: 0px;
    border-radius: 3px;
}

.application-sent {
    margin: 20px 50px 20px 50px;
    text-align: center;
}