.multifamily-body img:not(.next-section):not(.decks-image) {
    width: 100%;
}

.multifamily-body .container-fluid {
    width: 92%;
}

/* .multifamily-body .multifamily-about {
    padding: 90px 0px 90px 0px;
} */

.multifamily-about {
    padding: 50px 0px;
}

.multifamily-about h1 {
    font-family: 'Raleway';
    letter-spacing: 2.5px;
    font-size: 2.1em;
    margin-bottom: 18px;
}

.multifamily-about p {
    font-family: 'Roboto';
    line-height: 1.666em;;
}

.multifamily-about a {
    border: 2px solid #0b56a4;
    background-color: #0b56a4;
    color: white;
    padding: 6px 25px;
    font-family:'Raleway';
    font-weight: 600;
    font-size: .85em;
    letter-spacing: 1px;
  }

.multifamily-about a:hover {
    background-color: transparent;
    color: #0b56a4;
    transition: .5s;
}

.multifamily-about a,
.benefits a,
.snow a  {
    text-decoration: none;
}

.multifamily-services {
    padding: 0px;
}

.multifamily-services p:first-of-type {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    font-size: 1.2em;
    letter-spacing: .0705em;
}

.benefits {
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 100px;
    font-family: 'Roboto';
}

.benefits ul {
    margin: 20px 0px 30px 0px;
    padding-left: 15px;
}

.benefits-banner {
    width: 100%;
    background-color: #0b56a4;
    color: white;
    text-align: center;
    padding: 30px 0px 30px 0px;
    margin-top: 70px;
}

.benefits-banner p:first-of-type {
    font-size: 2.1em;
    letter-spacing: .06em;
    font-family: 'Raleway', sans-serif;
}

.benefits-banner p:nth-of-type(2) {
    letter-spacing: .07em;
    font-family: 'Roboto';
}

.decks {
    margin-bottom: 60px;
    padding-top: 80px;
}

.decks img {
    width: 95%;
}

.decks .overlay {
    width: 95%;
    background-color: rgba(0,0,0,.35)
}

.decks .centered-text {
    color: white;
    font-size: 1.4em;
    width: 70%;
    letter-spacing: .03em;
    font-family: 'Roboto';
}

.snow,
.camp {
    margin-top: 80px;
}

.snow {
    margin-bottom: 80px;
}

.green-solns {
    margin-top: 100px;
}

.green-solns p:first-of-type {
    margin: 15px 0px 15px 0px;
    font-size: 1.1em;
}

@media only screen and (min-width: 992px) {
    .camp h4,
    .camp .section-p,
    .decks h4,
    .decks .section-p {
        padding-left: 1rem;
    }

    .decks .section-p {
        padding-bottom: 0px !important;
    }

    .snow img,
    .benefits img {
        padding-top: 0px !important;
    }

    .multifamily-about p {
        padding-top: 0px !important;
    }

    .multifamily-about {
        padding: 80px 0px;
    }

    .multifamily-body .snow .section-p {
        padding-right: 3rem;
    }
}