.service-modal-wrapper .modal {
    padding-right: 0px !important;
}

.service-modal-wrapper .modal-content {
    border-radius: 0px;
    padding: 10px 40px 40px 40px;
    margin: 0 auto;
}

/* button, .button, input[type="submit"], .a8c-posts-list__view-all, button[data-load-more-btn] {
    border-radius: 0px !important;
} */

.service-modal-wrapper .modal-open .modal {
    height: 600px;
}

.service-modal-wrapper .modal-dialog {
    max-width: 350px !important;
    margin: 0 auto;
}

.service-modal-wrapper h6 {
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
}

.service-modal-wrapper .modal-content .service-form .section-p {
    font-size: .9em;
}

.service-modal-wrapper .close {
    position: absolute;
    top: 5px;
    right: 12px;
    font-weight: 300;
    font-size: 2rem;
}

@media only screen and (min-width: 576px) {
    .service-modal-wrapper .modal-dialog {
        max-width: 550px !important;;
    }

    .service-modal-wrapper .service-form .input-left {
        padding-right: 15px;
    }
    .service-modal-wrapper .service-form .input-right {
        padding-left: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .service-modal-wrapper .modal-dialog {
        max-width: 500px !important;
    }
}