.header-wrapper {
    position: relative;
}

/* .header-wrapper img {
    width: 100%;
} */
.header-wrapper {
    width: 100%;
    height: 100vh;
}

.header-wrapper[name='commercial'] {
    background: url('../../images/commercial/header2.jpg') no-repeat center center fixed;
    background-size: cover;
}

.header-wrapper[name='multifamily'] {
    background: url('../../images//multifamily/header2.jpg') no-repeat center center fixed;
    background-size: cover;
}

.header-wrapper[name='government'] {
    background: url('../../images/government/govtseattle.jpg');
    background-size: cover;
}

.header-wrapper[name='featured'] {
    background: url('../../images//featured/header-2.jpg');
    background-size: cover;
}

.header-wrapper[name='locations'] {
    background: url('../../images/location.jpg');
    background-size: cover;
}

.header-wrapper[region='northwest'] {
    background: url('../../images/franchiseHeaders/northwest.jpg');
    background-size: cover;
}

.header-wrapper[region='midwest'] {
    background: url('../../images/franchiseHeaders/midwest.jpeg');
    background-size: cover;
}

.header-wrapper[region='northeast'] {
    background: url('../../images/franchiseHeaders/northeast.jpeg');
    background-size: cover;
}

.header-wrapper[region='southwest'] {
    background: url('../../images/franchiseHeaders/southwest.jpg');
    background-size: cover;
}

.header-wrapper[region='west'] {
    background: url('../../images/franchiseHeaders/west.jpeg');
    background-size: cover;
}
