.header-wrapper {
    position: relative;
}

/* .header-wrapper img {
    width: 100%;
} */
.header-wrapper {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.header-wrapper[name='commercial'] {
    background-image: url('../../images/commercial/header2.jpg');
    background-size: cover;
    background-position: center center;
}

.header-wrapper[name='multifamily'] {
    background-image: url('../../images/multifamily/header2.jpg');
    background-size: cover;
}

.header-wrapper[name='government'] {
    background-image: url('../../images/government/govtseattle.jpg');
    background-size: cover;
    background-position: center center;
}

.header-wrapper[name='featured'] {
    background-image: url('../../images/featured/header-2.jpg') ;
    background-size: cover;
}

.header-wrapper[name='locations'] {
    background-image: url('../../images/location.jpg') ;
    background-size: cover;
    background-position: center center;
}

.header-wrapper[name='givesback'] {
    background-image: url('../../images/givesback.jpg');
    background-size: cover;
    background-position: 83%;
}

.header-wrapper[name='givesback'] .overlay {
    background-color: rgba(0,0,0,.25);
}

.header-wrapper[region='northwest'] {
    background-image: url('../../images/franchiseHeaders/northwest.jpg') ;
    background-size: cover;
    background-position: center center;
}

.header-wrapper[region='midwest'] {
    background-image: url('../../images/franchiseHeaders/midwest.jpeg') ;
    background-size: cover;
    background-position: center center;
}

.header-wrapper[region='east'] {
    background-image: url('../../images/franchiseHeaders/east.jpeg');
    background-size: cover;
    background-position: center center;
}

.header-wrapper[region='southwest'] {
    background-image: url('../../images/franchiseHeaders/southwest.jpg') ;
    background-size: cover;
    background-position: center center;
}

.header-wrapper[region='west'] {
    background-image: url('../../images/franchiseHeaders/west.jpeg') ;
    background-size: cover;
    background-position: center center;
}
