.government-body .benefits-wrapper {
    margin-top: 0px;
    margin-bottom: 20px;
}

.benefits-wrapper .check {
    width: 20px;
    margin-right: 10px;
    vertical-align: sub;
}

.benefits-wrapper button.cta {
    margin-top: 20px;
}

.benefits-wrapper img:not(.check) {
    width: 100%;
}

.benefits-wrapper span {
    display: inline-block;
    padding-top: 6px;
}