.carousel {
    margin-top: 80px;
    margin-bottom: 80px;
    overflow: visible;
    /* text-align: center; */
}

.carousel h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .065em;;
    text-align: center;
    width: 100%;
    color: #0b56a4;
}

.carousel p:not(.section-p) {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: .0705em;
    color: rgb(82, 82, 82);
}

.carousel hr {
    width: 40%;
    margin-bottom: 30px;
}

.carousel h3 {
    font-size: 1.4em;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    line-height: 1.2em;
    color: #0b56a4;
    letter-spacing: .03em;
    width: 100%;
}

/* .carousel p {
    font-family: 'Roboto';
    line-height: 1.6em;
} */

.carousel .showing-slide img {
    width: 95%;
}
.carousel .showing-slide .section-p,
.carousel .showing-slide h3 {
    padding-left: 2.5%;
    padding-right: 6%;
}

.carousel .prev-slide {
    direction: rtl;
}

.carousel .prev-slide,
.carousel .next-slide {
    overflow: hidden;
    position: relative;
}

.carousel .next-slide img:not(.arrow),
.carousel .prev-slide img:not(.arrow),
.carousel .prev-slide .text,
.carousel .next-slide .text {
    width: 950%;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.61);
}

.arrow {
    width: 30px;
    height: 30px;
}

.carousel button {
    position: absolute;
    top: 35%;
    /* transform: translate(20%, -50%); */
    /* font-size: 2em; */
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.733);
    padding: 3px 3px 5px 5px;
    border: 0px;
}

.next-slide button {
    left: -18px;
    transform: translate(18px, -35%);
}

.prev-slide button {
    left: 18px;
    transform: translate(-18px, -35%);
}

.carousel button:hover {
    background-color: white;;
}

@media only screen and (min-width: 768px) {
    .carousel .next-slide img:not(.arrow),
    .carousel .prev-slide img:not(.arrow),
    .carousel .prev-slide .text,
    .carousel .next-slide .text {
        width: 380%;
    }
    .arrow {
        width: 40px;
        height: 40px;
        padding: 5px 3px 3px 3px;
    }
}

@media only screen and (min-width: 992px) {
    .arrow {
        width: 50px;
        height: 50px;
    }
    .carousel .next-slide img:not(.arrow),
    .carousel .prev-slide img:not(.arrow),
    .carousel .prev-slide .text,
    .carousel .next-slide .text {
        width: 318%;
    }

    .next-slide button,
    .prev-slide button {
        left: 20%;
        transform: translate(20%)
    }
}