.contact-cta {
    position: fixed;
    top: 25vh;
    z-index: 400;
}

.contact-cta button#cta {
    position: fixed;
    border: 0px;
    background-color: #ed6a22;
    /* background-color: #0b56a4; */
    color: white;
    font-family: 'Roboto';
    font-size: 1em;
    letter-spacing: .05em;
    border-radius: 0px 0px 5px 5px;
    transform: rotate(90deg);
    height: 35px;
    right: -58px;
    width: 150px;
    top: 25vh;
}

.contact-cta .form {
    width: 300px;
    height: 325px;
    /* background-color: gray; */
    background-color: rgba(0,0,0,.65);
    backdrop-filter: blur(5px);
    position: fixed;
    right: 0px;
    top: 15vh;
    border-radius: 4px 0px 0px 4px;
}

.contact-cta .form .btn-close {
    background-color: transparent;
    border: 0px;
    padding: 0px;
    height: 18px;
    font-size: 1.4em;
    font-family: 'Montserrat';
    color: white;
}

.contact-cta .form h6 {
    color: white;
    font-family: 'Raleway';
    text-align: center;
    padding: 0px 0px 7px 0px;
    font-size: 1.2em;
    letter-spacing: .8px;
}

.contact-cta form {
    margin-top: 15px;
    width: 100%;
    /* padding: 15px; */
}

.contact-cta form input,
.contact-cta form textarea {
    width: 100%;
    padding: 4px 10px 5px 10px;
    border: 0px;
    border-radius: 1px;
}

.contact-cta form input::placeholder,
.contact-cta form textarea::placeholder {
    font-family: 'Montserrat';
    font-size: .9em;
}

.contact-cta form input#email {
    width: 100%;
}

.contact-cta form button {
    background-color: #0b56a4;
    color: white;
    border: 0px;
    padding: 5px 18px;
    font-size: .85em;
}

.contact-cta form button:hover {
    background-color: #1964b4;
}

/* .form-header {
    background-color: #0b56a4;
    padding: 5px 15px 5px 15px;
} */