.slider-container {
    width: 93%;
    margin-top: 80px;
}
.slider-container p:first-of-type {
    font-size: 18px;
    font-family: 'Raleway';
    letter-spacing: .06em;
    margin-top: .7rem;
    margin-bottom: .5rem;;
}

.slider-container p {
    padding-right: 15px;
}

.slider-container .arrow {
    width: 40px;
    height: 40px;
    /* padding-left: 15px;
    padding-right: 15px; */
}

.slider-container img:not(.arrow) {
    width: 95%;
}

img.slick-arrow.slick-prev {
    margin-left: -20px;
}

img.slick-arrow.slick-next {
    margin-right: -10px;
}