.slider-container {
    width: 93%;
    margin-top: 80px;
}
.slider-container .section-header {
    margin-bottom: 30px;
}
.slider-container p:first-of-type {
    font-size: 18px;
    font-family: 'Raleway';
    letter-spacing: .06em;
    margin-top: 1.2rem;
    margin-bottom: .7rem;
}

.slider-container p {
    padding-right: 15px;
}

.slider-container .arrow {
    width: 40px !important;
    height: 40px !important;
}

.slider-container img:not(.arrow) {
    width: 95%;
}

img.slick-arrow.slick-prev {
    margin-left: -25px;
}

img.slick-arrow.slick-next {
    margin-right: -15px;
}

.slider-container .slick-next::before,
.slider-container .slick-prev::before {
    color: black;
}

/* .slider-container .slider {
    margin: 0 auto;
    margin-top: 80px;
} */

.slider-container img,
.slider-container p {
    width: 95% !important;
}