.locations-banner .overlay {
    background-color: rgba(0,0,0,.4);
}

.no-locations {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 10px 10px 10px 0px;
    margin-left: -20px;
    font-weight: bold;
    font-size: 1.2em;
    color: #0b56a4;
}
.listview-wrapper {
    width: 93%;
    margin-top: 30px;
    margin-bottom: 60px;
    /* padding-top: 40px; */
}

.listview-wrapper select {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
    margin-bottom: 40px;
    margin-top: 30px;
    border: 1px solid black;
}

.listview-wrapper .no-list-locations {
    text-align: center;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
}

.listview-wrapper h5 {
    font-family: 'Raleway', sans-serif;
    color: rgb(87, 87, 87);
    margin-bottom: 18px;
    padding-left: 15px;
    letter-spacing: .05em;
}

.listview-location {
    padding: 20px;
    margin: 20px 5px 0px 5px;
    border-radius: 2px;
    /* border: 1px solid rgb(185, 185, 185); */
}

@media only screen and (max-width: 640px) {
    .location-wrapper {
        width: 90%;
    }
}