.locations-banner .overlay {
    background-color: rgba(0,0,0,.4);
}

.no-locations {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 10px 10px 10px 0px;
    margin-left: -20px;
    font-weight: bold;
    font-size: 1.2em;
    color: #0b56a4;
}
.listview-wrapper {
    width: 93%;
    margin-top: 30px;
    margin-bottom: 60px;
    text-shadow: 1px 1px 8px rgb(85, 85, 85);
    /* padding-top: 40px; */
}

.listview-location img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.listview-wrapper select {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
    margin-bottom: 40px;
    margin-top: 30px;
    border: 1px solid black;
}

.listview-wrapper .no-list-locations {
    text-align: center;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .05em;
}

[className*='location'] {
    position: relative;
    width: 100%;
    height: 100%;
}

[className*='location'] img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.listview-wrapper a {
    width: 100%;
}

.location h4:not(.text-wrapper h4) {
    font-family: 'Raleway', sans-serif;
    color: rgb(87, 87, 87);
    color: white;
    letter-spacing: .05em;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
}

.text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-wrapper h4 {
    font-family: 'Raleway', sans-serif;
    color: white;
    letter-spacing: .05em;
}

@media only screen and (max-width: 640px) {
    .location-wrapper {
        width: 90%;
    }
}