.servicelist-wrapper {
    width: 93%;
    margin-bottom: 80px;
}

.servicelist-wrapper img {
    width: 100%;
}

.servicelist-wrapper .section-header {
    margin-top: 0px !important;
}

/* .servicelist-wrapper p.section-p:last-of-type {
    margin-top: 20px;
} */

.servicelist-wrapper .section-p {
    font-size: .9em;
}

p.asterisk {
    margin: 0px 0px 0px 15px;
    line-height: 1.3em;
}

.asterisk span {
    vertical-align: sub;
    font-weight: bold;
    font-size: 1.2em;
    padding-right: 10px;
}

.servicelist-wrapper a.cta {
    margin-top: 20px;
}