.snow-wrapper {
    margin-top: 50px;
    width: 93%;
    margin-bottom: 80px;
}

.snow-wrapper a {
    text-decoration: none;
}

.snow-wrapper .section-p:last-of-type {
    margin-bottom: 1.5rem;
}

.snow-wrapper img {
    width: 100%;
}

@media only screen and (min-width: 990px) {
    .snow-wrapper img {
        padding-top: 0px !important;
    }
    .snow-wrapper {
        margin-top: 80px;
    }
}

@media only screen and (min-width: 1200px) {
    .snow-wrapper p {
        padding-right: 2rem;
    }
    .snow-wrapper {
        margin-bottom: 100px;
    }
}