.camp-images {
    position: relative;
}

.camp-images .buttons button {
    position: absolute;
    z-index: 3;
}

.camp-images .buttons button {
    background-color: rgba(255, 255, 255, 0.699);
    border: 0px;
    padding: 5px 10px 5px 10px;
    width: 30px;
}

.camp-images .buttons button.prev {
    right: 53px;
    bottom: 15px;
}

.camp-images .buttons button.next {
    right: 15px;
    bottom: 15px;
}

.camp-images .buttons button:hover {
    background-color: white;
}