.assets-wrapper {
    position: relative;
    height: 400px;
    background-image: url('../../../images/multifamily/assets.png');
    background-position: center center;
    background-size: cover;
}

.assets-wrapper .next-section {
    display: none;
}

.assets-wrapper .overlay {
    background-color: rgba(0,0,0,.2);
}

.assets-wrapper .text {
    position: absolute;
    bottom: 5%;
    /* left: 40px; */
    color: white;
    z-index: 35;
}

.assets-wrapper h3 {
    letter-spacing: 3.8px;
    font-size: 5vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
}

.assets-wrapper p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}


@media only screen and (min-width: 576px) {
    .assets-wrapper .text h3 {
        font-size: 3.6vw;
    }
}

@media only screen and (min-width: 768px) {
    .assets-wrapper .text {
        left: 3.5%;
    }
    .assets-wrapper .next-section {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .assets-wrapper .text {
        /* padding-left: 3.5%; */
        bottom: 5%;
    }
    .assets-wrapper {
        height: 500px;
    }
}

@media only screen and (min-width: 1200px) {
    .assets-wrapper p {
        font-size: 1.2em;
    }
    .assets-wrapper {
        height: 600px;
    }
}